<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

 <div class="container" style="max-width:150px; max-height:70px;">
 <a href="#">
         <img alt="TaskManager" src="/images/PM.png" style="max-width:100%">
      </a>
  </div>

<!--
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="nav mr-auto">

<!--
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
-->

      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
          Login Manager
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Signup</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="#">Task Manager</a>
      </li>
    </ul>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contact Us</a>
      </li>
    </ul>

<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->

  </div>
</nav>