<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>In case of application issues log isses in our service now channel!</p>
    <p>We will be more than happy to help you out!</p>
  </body>
</html>