<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Chalo's privacy policy</p>
    <p>your information is our responsiblity! Chalo has a very stringent privacy policy!</p>
    <p>Your data is secure and we never use, transmit or sell our customer's contact information to a third person! </p>
  </body>
</html>